.myreads-lvb {
  background-color: rgba(246,246,246, 1); 
}

.myreads-lvb-info {
  display: flex;
  flex-direction: column;
}

.myreads-lvb-slipper {
  border-top: 1px solid rgba(51,51,51, 0.3);
  margin: 5px 0;
}

.myreads-lvb-section {
  color: #B90504;
  padding: 10px;
}

.myreads-lvb-article {
  flex: 1;
}

.myreads-lvb-rating {
  font-size: 1.5em;
  color: #B90504;
}

.myreads-lvb-status-bar {
  font-size: 1.5em;
  background-color: rgba(232,232,232, 1);
  border-radius: 5px;
}

.myreads-lvb-status-item {
  padding: 0 10px;
  display: inline;
}

.myreads-lvb-status-img {
  height: 1.5em;
}

.myreads-lvb-title {
  font-weight: bold;
}

.myreads-lvb-synopsis {
  padding: 10px 0 0 0;
}

.myreads-lvb-like {
color: #B90504;
}
