.myreads-bl {
  padding: 15px 0;
}

.myreads-bl-header {
  margin: 10px;
  font-size: 0.8em;
  font-weight: bold;
}

.myreads-bl-slipper {
  border-top: 1px solid rgba(51,51,51, 0.3);
  margin: 5px 0;
}

.myreads-bl-title {
  color: #B90504;
  font-size: 0.8em;
}

.myreads-bl-icon {
  height: 2em;
  padding: 0 5px;
}

.myreads-bl-item {

}

.myreads-bl-item-img {
  height: 170px;
  //max-width: 128px;
  -webkit-box-shadow: 3px 5px 5px 2px rgba(232,232,232,1);
  -moz-box-shadow: 3px 5px 5px 2px rgba(232,232,232,1);
  box-shadow: 3px 5px 5px 2px rgba(232,232,232,1);
}
